.sample-div {
    border: solid 1px blue
}

.BarChart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #213547;
}

.PieChart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}